<h2>1.Présentation du site</h2>
<p>
    Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans
    l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site {{
    .Site.Title }} les présentes mentions légales.
</p>
<p>
    La connexion et la navigation sur le site {{ .Site.Title }} par l’utilisateur implique acceptation intégrale et sans
    réserve des présentes mentions légales.
</p>

<h2>2.Éditeur du site</h2>
<p>
    Le site {{ .Site.Title }} est édité par :
</p>
<ul>
    <li>Nom : {{ .Site.Params.author }}</li>
    <li>Adresse : 17160 Matha</li>
    <li>Adresse email : {{ .Site.Params.email }}</li>
    <li>Téléphone : [Votre numéro de téléphone]</li>
    <!--<li>N° de SIRET : [Votre numéro de SIRET si applicable]</li>-->
</ul>

<h2>3. Hébergement</h2>
<p>
    Le site {{ .Site.Title }} est hébergé par :
</p>
<ul>
    <li>Nom de l’hébergeur : {{ .Site.Params.host }}</li>
    <li>Adresse de l’hébergeur : {{ .Site.Params.host }}</li>
    <li>Téléphone de l’hébergeur : [Numéro de téléphone de l'hébergeur]</li>
</ul>

<h2>4. Propriété intellectuelle</h2>
<p>
    Tous les éléments du site {{ .Site.Title }}, qu'ils soient visuels ou sonores, y compris la technologie
    sous-jacente, sont protégés par le droit d'auteur, le droit des marques ou des brevets.
</p>
<p>
    Ils sont la propriété exclusive de l'éditeur. Toute reproduction, représentation, modification, publication,
    adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf
    autorisation écrite préalable de l'éditeur.
</p>

<h2>5. Données personnelles</h2>
<p>
    Le site [Nom du site] assure à l'utilisateur une collecte et un traitement d'informations personnelles dans le
    respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et
    aux libertés.
</p>
<p>
    En vertu de cette loi, l'utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition
    aux données personnelles le concernant. L'utilisateur peut exercer ce droit en contactant l'éditeur à l'adresse
    email suivante : [Votre adresse email].
</p>
<h2>6. Cookies</h2>
<p>
    Le site {{ .Site.Title }} peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques
    et d'affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez.
    Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur
    accède pour lire et enregistrer des informations.
</p>

<h2>7. Liens hypertextes</h2>
<p>
    Le site {{ .Site.Title }} peut contenir des liens hypertextes vers d'autres sites présents sur le réseau Internet.
    Les liens vers ces autres ressources vous font quitter le site {{ .Site.Title }}.
</p>
<p>
    Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l'éditeur.
    Aucune autorisation ou demande d'information préalable ne peut être exigée par l'éditeur à l'égard d'un site qui
    souhaite établir un lien vers le site de l'éditeur. Toutefois, il convient d'afficher ce site dans une nouvelle
    fenêtre du navigateur. Cependant, l’éditeur se réserve le droit de demander la suppression d’un lien qu’il estime
    non conforme à l’objet du site {{ .Site.Title }}.
</p>
<h2>8. Responsabilité</h2>
<p>
    Les informations contenues sur le site {{ .Site.Title }} sont aussi précises que possible et le site est
    périodiquement remis à jour, mais peut néanmoins contenir des inexactitudes, des omissions ou des lacunes. Si vous
    constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par
    email, à l’adresse [Votre adresse email], en décrivant le problème de la manière la plus précise possible (page
    posant problème, type d’ordinateur et de navigateur utilisé, etc.).
</p>
<p>
    Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En
    conséquence, l'éditeur ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de
    l'utilisateur ou d'une quelconque perte de données consécutive au téléchargement.
</p>
<h2>9. Droit applicable et attribution de juridiction</h2>
<p>
    Tout litige en relation avec l’utilisation du site {{ .Site.Title }} est soumis au droit français. Il est fait
    attribution exclusive de juridiction aux tribunaux compétents de [Ville du tribunal compétent].
</p>