{{ define "main" }} {{ .Content }}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br /><br />
      <h1 class="header center lime-text profession">
        Dévelopeur Web Web Mobile
      </h1>
      <div class="row center">
        <h2 class="header col s12 lime-text nom">Thierry Charriot</h2>
      </div>
      <div class="row center">
        <a
          href="pdf/cv-thierrycharriot-web.pdf"
          id="download-button"
          class="btn-large green darken-1"
          >Télécharger CV</a
        >
      </div>
      <br /><br />
    </div>
  </div>
  <div class="parallax">
    <img src="img/parallax-top-h960.webp" alt="Unsplashed background img 1">
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center white-text">
        <h3>A propos</h3>
        <p class="left-align light">
          Ancien dépanneur en électro-ménager puis électronicien, j’ai découvert
          ma passion pour la créativité dans le développement web. En 2012, en
          plus de mes compétences acquises en autodidacte, j’ai suivi une
          formation qui m’a permis d’obtenir un certificat. Ma passion s’est
          consolidée en juillet 2022 avec l’obtention du titre de Développeur
          Web Web Mobile.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container"></div>
  </div>
  <div class="parallax">
    <img
      src="img/parallax-middle-h960.webp"
      alt="Unsplashed background img 2"
    />
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 center white-text">
        <h3>Formations</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card green accent-1">
          <div class="card-content">
            <div class="certificat">
              <img src="img/certificate-1356.webp" alt="Icone certificat">
              <span class="card-title"
                >Attestation Plateforme de la communication graphique et
                multimédia</span
              >
            </div>
            <p>
              OBJECTIFS DE LA FORMATION : Prendre en charge le développement
              d’applications informatiques dans le cadre de projets dont
              l’objectif est l’automatisation d’un ou plusieurs processus de
              l’entreprise, participer à toutes les étapes de la réalisation de
              l’application ou du site web, assurer la maintenance corrective (
              résolution des bogues ) et évolutive, référencement et utilisation
              réseaux sociaux.
            </p>
          </div>
          <div class="card-action">2 décembre 2011</div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card green accent-1">
          <div class="card-content">
            <div class="certificat">
              <img src="img/certificate-1356.webp" alt="Icone certificat">
              <span class="card-title">Certification Opquast (confirmé)</span>
            </div>
            <p>
              La formation « Maîtrise de la qualité en projet Web » également
              appelée certification Opquast rompt avec l’approche traditionnelle
              des silos (référencement, sécurité, accessibilité, données
              personnelles, e-commerce) en dotant les professionnels du web d’un
              socle de règles, de compétences et de vocabulaire
              multidisciplinaires.
            </p>
          </div>
          <div class="card-action">19 juin 2022</div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card green accent-1">
          <div class="card-content">
            <div class="certificat">
              <img src="img/certificate-1356.webp" alt="Icone certificat">
              <span class="card-title"
                >Titre Développeur Web Web Mobile (RNCP niveau 5/bac+2)</span
              >
            </div>
            <p>
              Le développeur web et web mobile développe ou fait évoluer des
              applications orientées web, ou web mobile ou les deux à la fois,
              en respectant les normes et standards reconnus par la profession
              et en suivant l’état de l’art de la sécurité informatique à toutes
              les étapes. Ces applications sont destinées à des internautes ou
              des salariés d’entreprise.
            </p>
          </div>
          <div class="card-action">7 juillet 2022</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container"></div>
  </div>
  <div class="parallax">
    <img
      src="img/parallax-bottom-h960.webp"
      alt="Unsplashed background img 3"
    />
  </div>
</div>

{{ end }}
