{{ define "main" }}
<div class="container major">
  <h1 class="header center green-text text-darken-3">{{ .Title }}</h1>

  <article>
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ if .Date }} Date: {{ .Date.Format "02/01/2006" }} | {{ end }} Par:
          {{ .Site.Params.author | default "Anonymous" }}
        </span>
        {{ .Content }}
      </div>
      <div class="card-action">
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </div>
    </div>
  </article>
</div>
{{ end }}
