{{ define "main" }}
  <h1 class="header center green-text text-darken-3">Derniers articles</h1>
  {{ .Content }}
  {{ range first 6 site.RegularPages.ByDate.Reverse }}
    
    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ .LinkTitle }}</span>
            {{ .Description }}
          </div>
          <div class="card-action">
            {{ if .Date }} Date: {{ .Date.Format "02/01/2006" }} | {{ end }} Par: {{ .Site.Params.author | default "Anonymous"
          }} | 
            <a href="{{ .RelPermalink }}">En savoir plus!</a>
          </div>
        </div>
      </div>
    </div>

  {{ end }}
{{ end }}
