<div class="page-footer brown darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h3 class="white-text"><b>Citations</b></h3>
                {{ range .Site.Data.citations }}
                <p>
                    {{ .citation }} <a class="green-text text-lighten-3" href="{{ .url }}">{{ .name }}</a>
                </p>
                {{ end }}
            </div>
            <div class="col l3 s12">
            
            </div>
            <div class="col l3 s12">
                <h3 class="white-text"><b>Quick links:</b></h3>
                <ul>
                    {{ range .Site.Data.links }}
                    <li><a class="green-text text-lighten-3" href="{{ .url }}">{{.name}}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright brown darken-4">
        <div class="container">
            Copyright {{ now.Year }}. All rights reserved. Bodied by <a class="green-text text-lighten-3" href="https://materializecss.com">Materialize</a> & powered by <a class="green-text text-lighten-3" href="https://gohugo.io/">Hugo</a>. Valid <a class="green-text text-lighten-3" href="http://validator.w3.org/" rel="nofollow" title="Validate as HTML5" target="_blank">HTML5</a>
        </div>
    </div>
</div>


